{{ $mymonths := $.Site.Data.mois.mois }}
{{ $mydays := $.Site.Data.jour.jour }}
<div class="plan-photo-wrapper">
    <!-- <img src="/half{{ .Params.listing.image }}" class="" alt="{{ .Params.listing.title }}" itemprop="image" /> -->
    <div class="plans-slider-container">
        <div class="plans-list-images" onclick="location.href='{{- .Permalink -}}';">
            {{ range .Params.slider }}
            <div class="plan-photo" style="background-image: url('/half{{ .image }}');">
            </div>
            {{ end }}
        </div>
        <ul class="plans-slider-arrows">
            <li class="image-navigation__prev">
              <span class="icon-left-open"></span>
            </li>
            <li class="image-navigation__next">
              <span class="icon-right-open"></span>
            </li>
        </ul>
    </div>
    <!-- <div class="plan-photo" style="background-image: url(/half{{- .Params.listing.image -}});"></div> -->
    {{- if isset .Params "architect" -}}
    <div class="plan-architect">
        {{- $architect := index .Site.Data.architects .Params.architect -}}
        <span class="plan-author">
            Designed by {{ $architect.short }}
        </span>
        <img src="{{ $architect.image }}" alt="{{ $architect.name }}">
    </div>
    {{- end -}}
</div>
<div class="plan-title-wrapper">
    <h3 class="entry-title" itemprop="headline"><a href="{{ .Permalink }}">{{ .Params.listing.title }}</a></h2>
</div>
<div class="plan-desc-wrapper">
    <div>
    {{ with .Params.section1 }}
    <div class="plan-desc">
        <i class="moon-simple-plan"></i>
        <p>{{ .area }}</p>
    </div>
    <div class="plan-desc">
        <i class="moon-house-dimensions"></i>
        <p>{{ .dimensions }}</p>
    </div>
    <!-- <div class="plan-desc">
        <i class="moon-estate-money"></i>
        <p>{{ .cost }}</p>
    </div> -->
    <div class="plan-desc">
        <i class="moon-floor-plans"></i>
        <p>{{ .floor }}</p>
    </div>
    {{ end }}
    </div>
</div>
