<div id="plan-options">
	<label for="" style="margin-top: 0;">Plan Set Options <span><a href="#">What's included?</a></span></label>
	<div class="selectem" style="z-index: 30"> 
		<span class="selectem_label">PDF Set <span class="pull-right">249,99$</span></span>
		<div class="selectem_dropdown">
		  <input class="selectem-value" name="set-options" type="hidden">
		  <input class="selectem-input selectem-search-hide" name="filter" autocomplete="off" data-filter placeholder="Filter: meow, dog, woof, quack...">
		  <ul class="selectem-items">
		    <li data-val="pdf-set">
		      <div> <span class="item-label">PDF Set <span class="pull-right">249,99$</span></span></div>
		      <span class="recommanded">Recommanded Option</span>
		      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit.</p>
		    </li>
		    <li data-val="copy-set">
		      <div> <span class="item-label">5 Copy Set <span class="pull-right">349,99$</span></span></div>
		      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit.</p>
		    </li>
		    <li data-val="cad-set" data-price="699.99">
		      <div> <span class="item-label">CAD set <span class="pull-right">699,99$</span></span></div>
		      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit.</p>
		    </li>
		    <li data-val="study-set">
		      <div><span class="item-label">Study Set <span class="pull-right">599,99$</span></span></div>
		      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit.</p>
		    </li>
		  </ul>
		</div>
	</div>
	<label for="">Foundation Options</label>
	<div class="selectem" style="z-index: 29"> 
		<span class="selectem_label">Crawlspace <span class="pull-right">+0,00$</span></span>
		<div class="selectem_dropdown">
		  <input class="selectem-value" name="foundation-options" type="hidden">
		  <input class="selectem-input selectem-search-hide" name="filter" autocomplete="off" data-filter placeholder="Filter: meow, dog, woof, quack...">
		  <ul class="selectem-items">
		    <li data-val="crawlspace">
		      <div> <span class="item-label">Crawlspace <span class="pull-right">+0,00$</span></span></div>
		      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit.</p>
		    </li>
		    <li data-val="slab">
		      <div> <span class="item-label">Slab <span class="pull-right">+99,99$</span></span></div>
		      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit.</p>
		    </li>
		    <li data-val="basement">
		      <div> <span class="item-label">Basement <span class="pull-right">+199,99$</span></span></div>
		      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit.</p>
		    </li>
		  </ul>
		</div>
	</div>
	<div class="price-box">
		<p>SUBTOTAL <span>249,99$</span></p>
		<p class="question"><span><a href="#">Best Price Guaranteed*</a></span></p>
		<a href='#' class="button button_theme button_js action_button plan_cta add_to_cart" target="_blank"><span class="button_label">ADD TO CART</span></a>
		<span class="phone">Or order by phone: 1-800-913-2350</span>
	</div>
</div>
<div id="cost-to-build">
	<p><strong>How much will this cost to build?</strong></p>
	<p>This report will provide you cost estimates based on location and building materials.</p>
	<a href='#' class="button button_theme button_js action_button plan_cta cost_to_build" target="_blank"><span class="button_label">GET COST-TO-BUILD REPORT</span></a>
</div>