<!-- <h4>Awesome Tiny Cabin </h4> -->
<div class="desc-row icons">
	<h3>Key specs</h3>
	<div class="column one-fourth">
		<i class="moon-simple-plan"></i>
		<p>600 sq. feet</p>
	</div>
	<div class="column one-fourth">
		<i class="moon-house-dimensions"></i>
		<p>30' x 20'</p>
	</div>
	<div class="column one-fourth">
		<i class="moon-estate-money"></i>
		<p>25k - 35k</p>
	</div>
	<div class="column one-fourth">
		<i class="moon-floor-plans"></i>
		<p>1 floor</p>
	</div>
</div>
<div class="desc-row">
	<h3>Plan description</h3>
	<div class="column one">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus inventore fugit repellat. Dignissimos beatae recusandae, voluptatum vitae rerum praesentium, animi atque numquam cumque dolores tempore repellendus, voluptas illo tempora perferendis.</p>
	</div>
</div>
<div class="desc-row">
	<h3>Floor plans</h3>
	<div class="column one">
		<p>First Floor Simplifed Plan</p>
		<img src="/img/awesome-tiny-house-plan-simplified-1.jpg" alt="First Floor">
	</div>
	<div class="column one">
		<p>Second Floor Simplifed Plan</p>
		<img src="/img/awesome-tiny-house-plan-simplified-2.jpg" alt="Second Floor">
	</div>
</div>
<div class="desc-row specs">
	<h3>Full specs & features</h3>
	<div class="wrap mcb-wrap one valign-top clearfix">
		<div class="column one-third">
			<p>Basic features</p>
		</div>
		<div class="column one-third">
			<span>Bedrooms: 3</span>
			<span>Stories: 1</span>
		</div>
		<div class="column one-third">
			<span>Baths: 2.5</span>
			<span>Garages: 3</span>
		</div>
	</div>
	<div class="wrap mcb-wrap one valign-top clearfix">
		<div class="column one-third">
			<p>Dimension</p>
		</div>
		<div class="column one-third">
			<span>Width: 20'</span>
			<span>Height: 15'</span>
		</div>
		<div class="column one-third">
			<span>Depth: 20'</span>
		</div>
	</div>
	<div class="wrap mcb-wrap one valign-top clearfix">
		<div class="column one-third">
			<p>Area</p>
		</div>
		<div class="column one-third">
			<span>Total: 600 sq/ft</span>
			<span>Main Floor: 400 sq/ft</span>
			<span>Second Floor: 200 sq/ft</span>
		</div>
		<div class="column one-third">
			<span>Bonus: 150 sq/ft</span>
		</div>
	</div>
</div>
<div class="desc-row included">
	<h3>What's included in this plan set?</h3>
	<div class="column one">
		<a href="#">See a sample plan set</a>
		<ul>
			<li>
				<h5>Exterior Elevations</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure facilis sapiente expedita modi omnis quisquam voluptatibus recusandae necessitatibus ipsam, beatae suscipit! Repellendus obcaecati, et qui eum, explicabo culpa ad consectetur.</p>
			</li>
			<li>
				<h5>Foundation Plan </h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure facilis sapiente expedita modi omnis quisquam voluptatibus recusandae necessitatibus ipsam, beatae suscipit! Repellendus obcaecati, et qui eum, explicabo culpa ad consectetur.</p>
			</li>
			<li>
				<h5>Floor Plan(s)</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure facilis sapiente expedita modi omnis quisquam voluptatibus recusandae necessitatibus ipsam, beatae suscipit! Repellendus obcaecati, et qui eum, explicabo culpa ad consectetur.</p>
			</li>
		</ul>
		<a href="#">See important information before purchasing</a>
	</div>
</div>
<div class="desc-row pricing">
	<h3>Pricing</h3>
	<div class="wrap mcb-wrap one valign-top clearfix main-row">
		<p>Plan Set Options</p>
		<div class="wrap mcb-wrap one valign-top clearfix">
			<div class="column options first">
				<p>PDF Set</p>
			</div>
			<div class="column price first">
				<p>$1329.00</p>
			</div>
			<div class="column explanation first">
				<p>PDF plan sets are best for fast electronic delivery and inexpensive local printing.</p>
			</div>
		</div>
		<div class="wrap mcb-wrap one valign-top clearfix">
			<div class="column options">
				<p>PDF Set</p>
			</div>
			<div class="column price">
				<p>$1329.00</p>
			</div>
			<div class="column explanation">
				<p>PDF plan sets are best for fast electronic delivery and inexpensive local printing.</p>
			</div>
		</div>
		<div class="wrap mcb-wrap one valign-top clearfix">
			<div class="column options">
				<p>5 Copy Set</p>
			</div>
			<div class="column price">
				<p>$1329.00</p>
			</div>
			<div class="column explanation">
				<p>PDF plan sets are best for fast electronic.</p>
			</div>
		</div>
		<div class="wrap mcb-wrap one valign-top clearfix">
			<div class="column options">
				<p>CAD Set</p>
			</div>
			<div class="column price">
				<p>$1329.00</p>
			</div>
			<div class="column explanation">
				<p>PDF plan sets are best for fast electronic delivery</p>
			</div>
		</div>
	</div>
	<div class="wrap mcb-wrap one valign-top clearfix main-row no-margin-bottom">
		<p>Foundation Options</p>
		<div class="wrap mcb-wrap one valign-top clearfix">
			<div class="column options">
				<p>PDF Set</p>
			</div>
			<div class="column price">
				<p>$1329.00</p>
			</div>
			<div class="column explanation">
				<p>PDF plan sets are best for fast electronic delivery and inexpensive local printing.</p>
			</div>
		</div>
		<div class="wrap mcb-wrap one valign-top clearfix">
			<div class="column options">
				<p>PDF Set</p>
			</div>
			<div class="column price">
				<p>$1329.00</p>
			</div>
			<div class="column explanation">
				<p>PDF plan sets are best for fast electronic delivery and inexpensive local printing.</p>
			</div>
		</div>
		<div class="wrap mcb-wrap one valign-top clearfix">
			<div class="column options">
				<p>5 Copy Set</p>
			</div>
			<div class="column price">
				<p>$1329.00</p>
			</div>
			<div class="column explanation">
				<p>PDF plan sets are best for fast electronic.</p>
			</div>
		</div>
		<div class="wrap mcb-wrap one valign-top clearfix">
			<div class="column options">
				<p>CAD Set</p>
			</div>
			<div class="column price">
				<p>$1329.00</p>
			</div>
			<div class="column explanation">
				<p>PDF plan sets are best for fast electronic delivery</p>
			</div>
		</div>
	</div>
</div>