{{ define "main" }}
{{ $mymonths := $.Site.Data.mois.mois }}
{{ $mydays := $.Site.Data.jour.jour }}
{{ $text := split .Content "<!-- split -->" }}
<div id="article-overlay">
    <div class="typeform-widget" data-url="https://akiamktg.typeform.com/to/yYGNdS" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=yYGNdS&utm_source=typeform.com-11699389-Pro&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
    <a href="#" class="close-overlay-article">
        <i class="close icon-cancel-fine"></i>
    </a>
</div>
<div id="article">
    <div id="Intro" class="parallax{{ if .Params.overlay }} overlayed{{ end }}{{ if .Params.notloaded }} not-loaded"{{ else }}" style="background-image: url('/half{{- .Params.image -}}')"{{ end }} data-enllax-ratio="-0.3" data-large="/half{{- .Params.image -}}">
        {{ if .Params.overlay }}
        <div class="opacity-light bg-extra-dark-gray"></div>
        {{ end }}

        <div class="intro-inner">
            <h1 class="intro-title">{{ .Params.listing.title }}</h1>
            <div class="intro-meta">
                <div class="date">
                    <i class="icon-calendar"></i><span>{{.Date.Month}} {{ index $mydays .Date.Day }}, {{.Date.Year}}</span>
                </div>
                {{ if isset .Params "author" }}
                    {{ $author := index .Site.Data.authors .Params.author }}
                    <div class="author">
                        <i class="icon-user"></i><span>{{ $author.name }}</span>
                    </div>
                {{ end }}
                <div class="categories">
                    <i class="moon-category"></i><span>
                        {{ range $i, $e := .Params.categories }}{{ if $i }},{{ end }}
                        <a href="{{ $.Site.BaseURL }}categories/{{ $e | urlize }}">{{ $e }}</a>
                        {{end}}
                    </span>
                </div>
            </div>
        </div>
        <div class="intro-next">
            <i class="icon-down-open-big"></i>
        </div>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="post format-standard has-post-thumbnail category-hot-articles">
                    <div class="post-wrapper-content">
                        <div class="section mcb-section article-text" style="padding-top:50px;padding-bottom:0px; ">
                            <div class="section_wrapper mcb-section-inner{{ if .Params.infographic }} infographic{{ end }}">
                                <div class="wrap mcb-wrap one  valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        {{ if .Params.infographic }}
                                        <div class="column mcb-column one column_column content" id="content">
                                            <div class="column_attr">
                                                {{ .Content | markdownify }}
                                            </div>
                                        </div>
                                        {{ else }}
                                        <div id="sidebar" class="column mcb-column one-third column_placeholder sidebar">
                                            <div class="table-of-contents sidebar__inner">
                                                <!-- {{ .TableOfContents }} -->
                                                {{- partial "site/table-of-contents.html" . -}}
                                            </div>
                                        </div>
                                        <div class="column mcb-column two-third column_column content" id="content">
                                            <div class="column_attr">
                                                {{ .Content | markdownify }}
                                            </div>
                                            <!-- {{- partial "site/post-author.html" . -}} -->
                                        </div>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section" style="">
                            <div class="section_wrapper mcb-section-inner{{ if .Params.infographic }} infographic{{ end }}">
                                <div class="wrap mcb-wrap one  valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        {{ if .Params.infographic }}
                                        <div class="column mcb-column one column_column content">
                                            {{- partial "site/related-posts.html" . -}}
                                        </div>
                                        {{ else }}
                                        <div id="" class="column mcb-column one-third column_placeholder">
                                            <div class="placeholder">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="column mcb-column two-third column_column content">
                                            {{- partial "site/related-posts.html" . -}}
                                        </div>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
</div>

{{ end }}