.bg-extra-dark-gray {
    background-color: #1c1c1c;
}

/* opacity */
.opacity-very-light {position: absolute; height: 100%; width: 100%; opacity: 0.2; top:0; left: 0;}
.opacity-light {position: absolute; height: 100%; width: 100%; opacity: 0.3; top:0; left: 0;}
.opacity-extra-medium {position: absolute; height: 100%; width: 100%; opacity: 0.5; top:0; left: 0;}
.opacity-medium {position: absolute; height: 100%; width: 100%; opacity: 0.75; top:0; left: 0;}
.opacity-full {position: absolute; height: 100%; width: 100%; opacity: 0.8; top:0; left: 0;}
.opacity-full-dark {position: absolute; height: 100%; width: 100%; opacity: 0.9; top:0; left: 0;}

.opacity1 {opacity:.1}
.opacity2 {opacity:.2}
.opacity3 {opacity:.3}
.opacity4 {opacity:.4}
.opacity5 {opacity:.5}
.opacity6 {opacity:.6}
.opacity7 {opacity:.7}
.opacity8 {opacity:.8}
.opacity9 {opacity:.9}

.single-post {
	#Intro {
		.intro-meta {
			color: rgba(255,255,255,0.9);
			a {
				color: rgba(255,255,255,0.9);
			}
		}
	}
	#Content {
		.post {
			h3 {
				font-size: 22px;
				line-height: 26px;
			}
			h4 {
				font-size: 20px;
				line-height: 24px;
			}
			h3,h4 {
				&.article-quote {
					font-size: 42px;
			    	line-height: 44px;
				}
			}
			h2 {
				margin-top: 30px;
			}
			p {
				font-size: 120%;
			}
			ul, li, ol {
				font-size: 105%;
			}
			iframe {
				margin-bottom: 20px;
			}
		}
	}
}

/********** CTA **********/

.button-stroke.header-overlay a.button.action_button.new_theme_cta {
	background: $gray !important;
    border-color: $gray !important;
    color: $brown !important;
    padding: 0px 20px;
    font-weight: 500;
    border-radius: 2px;
    -webkit-transition: 0.2s background-color border-color;
    -moz-transition: 0.2s background-color border-color;
    -ms-transition: 0.2s background-color border-color;
    -o-transition: 0.2s background-color border-color;
    transition: 0.2s background-color border-color;
    &:hover {
    	background: $brown !important;
    	border-color: $brown !important;
    	color: $gray !important;
    }
    &.categories_cta {
    	padding: 6px 10px;
    }
    &.header_cta {
		position: absolute;
	    right: 30px;
	    top: 30px;
	    z-index: 9900;
	}
}
/********** HEADER **********/

// To fix the logo moving on load
#Top_bar .top_bar_left {
	width: 100%
}

div.social-icons {
	position: absolute;
    right: 210px;
    top: 28px;
    z-index: 9900;
    font-size: 50px;
    a {
    	color: $gray;
    	&:hover {
    		text-decoration: none;
    	}
    }
}

.header-overlay .overlay-menu-toggle.focus .close {
	color: $brown;
}

#Overlay {
	background: $gray;
}
#overlay-menu ul li {
	&.current-menu-item, &.current_page_item, &.current-menu-parent, &.current-page-parent, &.current-menu-ancestor, &.current-page-ancestor, &.current_page_ancestor {
		a {
			color: $brown;
		}
	}
	&.buy-now-btn {
		a {
			color: $orange;
			padding: 0;
		}
	}
}

/********* FOOTER *********/

.footer_copy .copyright i {
	margin-left: 5px;
	margin-right: 5px;
	color: $gray;
}
#Footer a {
	color: $gray;
}
#Footer .themebg, #Footer .widget_categories ul, #Footer .Recent_posts ul li .desc:after, #Footer .Recent_posts ul li .photo .c, #Footer .widget_recent_entries ul li:after, #Footer .widget_mfn_menu ul li a:hover, #Footer .widget_product_categories ul {
	background-color: $brown;
}
#instafeed {
	overflow: hidden;
	.insta-link {
		max-width: 100%;
	}
	.insta-image {
		max-width: 100%;
		height: auto;
	}
}

/********* HOME **********/

h1.home-title {
	font-size: 50px;
	line-height: 60px;
	font-weight: 700;
	color: $gray;
}
span.home-subtitle {
	font-size: 30px;
	line-height: 38px;
	font-family: $hfont;
	color: $gray;
}
.masonry.tiles .post-item .post-desc-wrapper .post-desc .post-title:after, .masonry.tiles .post-item.no-img, .masonry.tiles .post-item.format-quote {
	background: $brown;
}
#quote-section {
	color: white;
	.description {
		max-width: 600px; 
		margin: 20px auto; 
		font-size: 25px; 
		line-height: 30px; 
		font-weight: 700;
	}
	.author {
		font-style: italic; 
		font-size: 20px; 
		font-weight: 700
	}
}
div.overlayed {
	z-index: 0;
	position: relative;
	div, p, span, h1, h2, h3, h4, h5, h6 {
		z-index: 10;
		position: relative;
	}
	div.black-overlay {
		position: absolute;
		background-color: rgba(0,0,0,0.6);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 5
	}
}

/******** BLOG *********/
#blog {
	.categories-choices {
		max-width: 800px;
		margin: 0 auto;
	}

	.section-filters {
		.column.one {
			margin-bottom: 20px;
			.nb_articles {
				margin-top: 50px;
				color: $brown;
				font-size: 20px;
				line-height: 25px;
				span {
					font-weight: 700;
				}
			}
		}
	}
	.column_blog .post-item {
		background-color: white;
		.image_frame:hover .image_wrapper img, .image_frame.hover .image_wrapper img {
			top: 0;
		}
		.post-photo-wrapper {
			width: 49.99%;
			-webkit-box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.29);
			-moz-box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.29);
			box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.29);
			.article-img-bg {
				height: 350px;
				background-size: cover; 
				background-repeat: no-repeat; 
				background-position: center center;
			}
		}	
		.post-desc-wrapper {
			width: 49.99%;
			color: $brown !important;
			.post-desc {
				margin: 35px 40px;
				padding: 0;
				position: relative;
				height: 280px;
				.post-meta {
					.author-date {
						color: $brown;
						border-color: $brown;
						.categories-icon {
							margin-left: 30px;
							.moon-category {
								position: relative;
								top: 3px;
								font-size: 1.3em;
							}
						}
						a {
							color: $brown;
						}
					}
					.category {
						color: $brown;
						.moon-timer {
							position: relative;
							top: 3px;
							font-size: 1.3em;
						}
					}
				}
				.post-title {
					h2 a {
						color: $brown;
					}
				}
				.post-excerpt {
					font-size: 1.3em;
				}
				.post-footer {
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 0;
					width: 100%;
					text-align: left;
					background-color: white;
					color: $brown;
					font-size: 1.3em;
					font-weight: 600;
					.button-love {
						.mfn-love {
							margin-left: 40px;
							span {
								color: $brown;
							}
						}
					}
					.post-links {
						float: right;
						border-left-color: white;
						a {
							color: $brown;
							&:hover {
								text-decoration: none;
							}
							i {
								position: relative;
								top: 5px;
								font-size: 1.3em;
								margin-left: 4px
							}
						}
					}
				}
			}
		}
	}
	#category-content {
		padding-top: 60px; 
		padding-bottom:20px;
		background-color: white;
		text-align: center;
		color: $brown;
		h1, h2, h3, h4, h5, h6 {
			color: $brown;
			font-weight: 700;
			margin-bottom: 40px;
		}
		blockquote {
			color: $brown;
		}
		font-size: 18px;
		line-height: 20px;
		p {
			font-weight: 600
		}
		.one-second {
			text-align: left;
			blockquote {
				padding-left: 0;
				margin-left: 0;
			}
		}
	}
}
.flexing {
	display: flex;
	.post-photo-wrapper, .post-desc-wrapper {
		flex: 1
	}
}

/******** CONTACT ********/
h6.regular-text {
	font-family: $pfont;
}

@media only screen and (max-width: 959px) {
	#blog {
		.column_blog .post-item {
			.post-photo-wrapper {
				width: 100%;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				.article-img-bg {
					height: 400px;
				}
			}
			.post-desc-wrapper {
				width: 100%;
				.post-desc {
					height: initial;
					min-height: 300px;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.header-overlay .header_cta, div.social-icons {
		display: none;
	}
	h1.home-title {
		font-size: 30px;
		line-height: 38px;
	}
	span.home-subtitle {
		font-size: 20px;
		line-height: 26px;
		font-family: $hfont;
		color: $gray;
	}
	#instafeed {
		display: none !important;
	}
	#blog {
		.column_blog .post-item {
			.post-photo-wrapper {
				.article-img-bg {
					height: 300px;
				}
			}
			.post-desc-wrapper {
				.post-desc {
					height: initial;
					min-height: 300px;
					.post-meta {
						.author-date {
							width: 100%;
						}
						.category {
							display: block;
							float: left;
						}
					}
					.post-title {
						h2 {
							margin-top: 15px;
							font-size: 18px;
							line-height: 22px;
						}
					}
					.post-footer {
						margin-top: 30px;
						.button-love {
							.mfn-love {
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 479px) {
	#blog .column_blog .post-item {
		.post-photo-wrapper {
			.article-img-bg {
			}
		}
		.post-desc-wrapper {
			.post-desc {
				min-height: 400px;
				.post-meta {
					.author-date {
						span.date {
							margin-right: 30px;
						}
						span.categories-icon {
							display: inline-block;
							margin-left: 0 !important;
						}
					}
				}
				.post-title {
					h2 {
						margin-top: 15px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1921px) {
	#home-slider {
		min-height: 50vh;
	}
}

@media only screen and (min-width: 960px) {
	.posts_group.masonry.tiles.col-4, .posts_group.masonry.tiles.col-3, .posts_group.masonry.tiles.col-2 {
		.post-item {
			.post-photo-wrapper {
				padding: 4px 4px 0;
			}
			&:first-child {
				.post-photo-wrapper {
					padding-left: 0;
				}
			}
			&:last-child {
				.post-photo-wrapper {
					padding-right: 0;
				}
			}
		}
	}
	.masonry.tiles {
		.post-item:not(.no-img) {
			.post-photo-wrapper:after {
				top: 4px;
				left: 4px;
			}
			&:first-child {
				.post-photo-wrapper:after {
					left: 0px !important;
				}
			}
		}
		&.col-2 {
			.post-item:not(.no-img) {
				.post-photo-wrapper:after {
					top: 4px;
					left: 4px;
				}
				&:first-child {
					.post-photo-wrapper:after {
						left: 0px !important;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	#Top_bar #logo, .header-plain #Top_bar #logo, .header-transparent #Top_bar #logo {
		height: $logo_height;
		line-height: $logo_height;
		padding: 0px 0;
	}
	#Top_bar #logo {
		display: block;
		height: $logo_height;
		line-height: $logo_height;
		padding: 15px 0px;
		text-align: center;
		margin-left: 21px
	}
	#Top_bar .logo {
		float: none;
	}
}	
@media only screen and (min-width: 480px) and (max-width: 768px) {
	
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#hot-articles .post-item {
		width: 49.99%;
	}
}
@media only screen and (min-width: 960px) and (max-width: 1239px) {
	#blog {
		.column_blog .post-item {
			.post-photo-wrapper {
				.article-img-bg {
					height: 400px;
				}
			}
			.post-desc-wrapper {
				.post-desc {
					height: 330px;
					.post-meta {
						.author-date {
							width: 100%;
						}
						.category {
							float: left;
						}
					}
				}
			}
		}
	}
}

