{{ define "main" }}
<main class="main" id="a-propos">
	<div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section dark   has-navi" style="padding-top:300px; padding-bottom:260px; background-image:url(/images/home_lifestyle_about1.jpg); background-repeat:no-repeat; background-position:center top; background-attachment:fixed; background-size:cover; -webkit-background-size:cover" data-enllax-ratio="-0.3">
                    <div class="section-nav prev">
                        <i class="icon-up-open-big"></i>
                    </div>
                    <div class="section-nav next">
                        <i class="icon-down-open-big"></i>
                    </div>
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr align_center">
                                        <h1>We are group of independent journalists</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:60px; padding-bottom:20px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-third  valign-top clearfix" style="padding:0 4% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  column-margin-10px">
                                    <div class="column_attr">
                                        <h4>About us</h4>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr">
                                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
                                        <p>
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap two-third  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  column-margin-10px">
                                    <div class="column_attr">
                                        <h4>Short story</h4>
                                    </div>
                                </div>
                                <div class="column mcb-column one-second column_column">
                                    <div class="column_attr">
                                        <h6>Quisque pharetra risus et felis tempus condimentum? Ut interdum eros in dolor hendrerit aliquet. Sed tempor mollis diam.</h6>
                                        <p>
                                            Vehicula eleifend dui lacinia nec amet. Vivamus ut turpis placerat, semper libero a, vulputate tellus. In convallis orci eu neque sagittis porttitor nec posuere arcu. In hac habitasse platea volutpat. Sed porttitor pulvinar purus eu vestibulum. Aenean ac molestie erat. Nunc quam diam, imperdiet vitae rutrum ac, pretium maximus urna.
                                        </p>
                                        <p>
                                            Praesent interdum posuere. Sed placerat nisi eu velit ullamcorper, a condimentum nibh molestie. Donec nisl sapien, maximus vel tristique vitae, ultrices quis sapien. Donec hendrerit amet. Donec aliquet ante.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-second column_column">
                                    <div class="column_attr">
                                        <p>
                                            Lacinia nec amet. Vivamus ut turpis placerat, semper libero a, vulputate tellus. In convallis orci eu neque sagittis porttitor nec posuere arcu. In hac habitasse platea volutpat. Sed porttitor pulvinar purus eu vestibulum. Aenean ac molestie erat. Nunc quam diam, imperdiet vitae rutrum ac, pretium maximus urna.
                                        </p>
                                        <p>
                                            Felis tempus condimentum? Ut interdum eros in dolor hendrerit aliquet. Sed tempor mollis diam. Donec aliquet ante mauris, ut cursus dui luctus sagittis! In hac habitasse platea dictumst. Fusce et elit tristique purus lacinia ornare quis vitae risus metus mauris, ut cursus dui luctus sagittis! In hac habitasse platea dictumst. Fusce et elit tristique purus lacinia ornare quis vitae risus metus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:0px; padding-bottom:20px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-second column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_about2.jpg" alt="" width="700" height="568" />
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-second column_column">
                                    <div class="column_attr" style=" padding:30px 0 0 5%;">
                                        <h3>Pellen tesque fermentum gravida tincidunt</h3>
                                        <hr class="no_line" style="margin: 0 auto 30px;" />
                                        <h6>Nullam tellus ex, volutpat eu suscipit nec, tincidunt accumsan mi. Aenean dictum interdum lectus in bibendum. In at augue volutpat nisi volutpat mattis eu amet. Morbi ut ultrices lacus? Donec sollicitudin consectetur tortor. Vivamus ullamcorper porta purus a elementum. Etiam porta nunc vel sem hendrerit eleifend nullam.</h6>
                                        <p>
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia reprehenderit in voluptate velit esse cillum dolore eu fugia.
                                        </p>
                                        <p>
                                            Duis aute irure dolor in reprehenderit
                                        </p>
                                        <a class="button  button_theme button_js" href="#"><span class="button_label">Read more</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:0px; padding-bottom:20px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr align_center">
                                        <h3>Meet our authors</h3>
                                        <div style="width: 110px; height: 4px; background: #db9d3a; display: inline-block;"></div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column">
                                    <div class="column_attr align_center" style=" padding:0 4%;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_featured_author.png" alt="" width="143" height="143" />
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <h5 style="font-weight: 700;">Mark Spencer</h5>
                                        <p>
                                            Phasellus sollicitudin pellentesque enim nec malesuada. In nec sodales neque. Vivamus nulla sem, interdum vitae lobortis eget; vestibulum eu massa. Ut eu metus.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column">
                                    <div class="column_attr align_center" style=" padding:0 4%;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_featured_author2.png" alt="" width="143" height="143" />
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <h5 style="font-weight: 700;">Jennifer Lee</h5>
                                        <p>
                                            Phasellus sollicitudin pellentesque enim nec malesuada. In nec sodales neque. Vivamus nulla sem, interdum vitae lobortis eget; vestibulum eu massa. Ut eu metus.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column">
                                    <div class="column_attr align_center" style=" padding:0 4%;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_featured_author3.png" alt="" width="143" height="143" />
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <h5 style="font-weight: 700;">Sara Wright</h5>
                                        <p>
                                            Phasellus sollicitudin pellentesque enim nec malesuada. In nec sodales neque. Vivamus nulla sem, interdum vitae lobortis eget; vestibulum eu massa. Ut eu metus.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column">
                                    <div class="column_attr align_center" style=" padding:0 4%;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_featured_author4.png" alt="" width="143" height="143" />
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <h5 style="font-weight: 700;">Kevin Perry</h5>
                                        <p>
                                            Phasellus sollicitudin pellentesque enim nec malesuada. In nec sodales neque. Vivamus nulla sem, interdum vitae lobortis eget; vestibulum eu massa. Ut eu metus.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line" />
                                </div>
                                <div class="column mcb-column one-fourth column_column">
                                    <div class="column_attr align_center" style=" padding:0 4%;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_featured_author5.png" alt="" width="143" height="143" />
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <h5 style="font-weight: 700;">Brandon Ross</h5>
                                        <p>
                                            Phasellus sollicitudin pellentesque enim nec malesuada. In nec sodales neque. Vivamus nulla sem, interdum vitae lobortis eget; vestibulum eu massa. Ut eu metus.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column">
                                    <div class="column_attr align_center" style=" padding:0 4%;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_featured_author6.png" alt="" width="143" height="143" />
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <h5 style="font-weight: 700;">Doris Flores</h5>
                                        <p>
                                            Phasellus sollicitudin pellentesque enim nec malesuada. In nec sodales neque. Vivamus nulla sem, interdum vitae lobortis eget; vestibulum eu massa. Ut eu metus.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column">
                                    <div class="column_attr align_center" style=" padding:0 4%;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_featured_author7.png" alt="" width="143" height="143" />
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <h5 style="font-weight: 700;">Alice Boyd</h5>
                                        <p>
                                            Phasellus sollicitudin pellentesque enim nec malesuada. In nec sodales neque. Vivamus nulla sem, interdum vitae lobortis eget; vestibulum eu massa. Ut eu metus.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column">
                                    <div class="column_attr align_center" style=" padding:0 4%;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_featured_author8.png" alt="" width="143" height="143" />
                                            </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <h5 style="font-weight: 700;">Jennifer Lee</h5>
                                        <p>
                                            Phasellus sollicitudin pellentesque enim nec malesuada. In nec sodales neque. Vivamus nulla sem, interdum vitae lobortis eget; vestibulum eu massa. Ut eu metus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}