{{ define "main" }}
<div id="Subheader" style="background-image: url('{{ .Params.image }}');" class="contact">
    <div class="container">
        <div class="column one">
            <h1 class="title">{{ .Params.titre }}</h1>
        </div>
    </div>
</div>
<main class="main" id="contact">
	<div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section" style="padding-top:60px; padding-bottom:20px; ">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one  valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr">
                                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</h4>
                                            <div class="contact-separator"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section" style="padding-top:0px; padding-bottom:10px; ">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one  valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one-third column_column">
                                        <div class="column_attr" style=" padding:0 10% 0 0;">
                                            <h3>Send us
												<br>
												a message</h3>
                                            <h6 class="regular-text">Imperdiet, vel egestas augue pharetra. Vivamus viverra varius porttitor. Aliquam nec purus.</h6>
                                            <p>
                                                In sed libero convallis, finibus turpis ac, mollis quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column two-third column_column">
                                        <div class="column_attr">
                                            <div id="contactWrapper">
                                                <form id="contactform">
                                                    <div class="column one-second">
                                                        <input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" />
                                                    </div>
                                                    <div class="column one-second">
                                                        <input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" />
                                                    </div>
                                                    <div class="column one">
                                                        <input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" />
                                                    </div>
                                                    <div class="column one">
                                                        <textarea placeholder="Message" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
                                                    </div>
                                                    <div class="column one">
                                                        <input type="button" value="Send A Message" id="submit" onClick="return check_values();">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" />
                                    </div>
                                    <div class="column mcb-column one-third column_column">
                                        <div class="column_attr" style=" padding:0 10% 0 0;">
                                            <h3>Useful information</h3>
                                            <h6 class="regular-text">Mauris auctor eu nibh eget sagittis. Nam dignissim libero volutpat dignissim ornare.</h6>
                                            <p>
                                                Cras eu ex ut arcu blandit bibendum. Mauris vel ipsum in nisl pellentesque ultrices sit amet et neque. Vivamus ornare massa sit amet dolor.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column two-third column_tabs ">
                                        <div class="jq-tabs tabs_wrapper tabs_horizontal">
                                            <ul>
                                                <li>
                                                    <a href="#-1">Lorem ipsum dolor</a>
                                                </li>
                                                <li>
                                                    <a href="#-2">Hendrerit urna</a>
                                                </li>
                                                <li>
                                                    <a href="#-3">Duis posuere</a>
                                                </li>
                                            </ul>
                                            <div id="-1">
                                                <p class="big">
                                                    Lorem ipsum dolor sit amet turpis in neque. Praesent consequat. Aliquam nulla. Aenean feugiat fermentum leo nec dui. In nec malesuada elit tincidunt at, nibh. Morbi et turpis. Duis ut diam. Aliquam tempus dignissim. Nunc condimentum magna ante, tincidunt in.
                                                </p>
                                                <p>
                                                    Vestibulum ante nec augue. Vivamus magna. Phasellus tempor magna orci ipsum, vel lorem. Praesent elit eu mi. Curabitur nunc. Donec vel ipsum at adipiscing elit. Vestibulum tempus. In hac habitasse platea dictumst. Proin in metus. Morbi aliquam tellus pharetra accumsan sed, dui. In hac habitasse platea dictumst. Duis hendrerit nunc lacus, suscipit ultricies, hendrerit feugiat felis. Nulla ante. Donec mauris ac pede bibendum sem, eleifend eget, nunc. Sed dignissim non, tempor magna ac nisl. Aenean gravida eros diam iaculis odio.
                                                </p>
                                            </div>
                                            <div id="-2">
                                                <p class="big">
                                                    Maecenas ut quam ut nonummy at, posuere cubilia Curae, Cras non orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam wisi eu lorem. Sed malesuada dolor. Morbi accumsan at, elit. Integer egestas, nunc.
                                                </p>
                                                <p>
                                                    Aenean ligula quis nulla a odio. Aenean lobortis metus. Maecenas eu venenatis placerat, nulla eu odio. Suspendisse vitae lorem eget imperdiet sapien. Donec faucibus, nulla eu felis. Duis nonummy ligula. Lorem ipsum primis in ornare velit sed eros. Sed neque. Praesent ac accumsan luctus, nisl at neque. Praesent elit porta ac, molestie nulla luctus quam in ligula nulla, at metus. Sed ac sapien. In hac habitasse platea dictumst. Vestibulum rutrum viverra, enim diam, suscipit rutrum. Nunc ultricies a, dui. Sed.
                                                </p>
                                            </div>
                                            <div id="-3">
                                                <p class="big">
                                                    Morbi id mi quam sed erat. Proin vulputate imperdiet, urna luctus sagittis. Vestibulum turpis in sollicitudin ac, laoreet hendrerit vitae, pellentesque auctor quis, justo. Aenean massa non placerat id, turpis. Duis eget elit ac turpis egestas. Cras congue, velit vitae.
                                                </p>
                                                <p>
                                                    Lorem ipsum dolor sit amet dui auctor consectetuer. Sed nec libero laoreet ultricies nulla, faucibus lorem. Pellentesque placerat. Duis sodales eros. Sed neque. Etiam nunc ut nibh. Curabitur at turpis. Curabitur urna quis ante. Mauris id lectus. Nam placerat vehicula viverra. Mauris ut diam. Duis at ultrices bibendum, urna accumsan lorem. Cras dignissim. Aliquam sem. Integer euismod purus et velit. Cum sociis natoque penatibus et malesuada quis, tincidunt luctus. Aenean gravida non, rhoncus laoreet risus. Aliquam tellus sodales eu, faucibus.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section the_content no_content">
                        <div class="section_wrapper">
                            <div class="the_content_wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}