{{ $values := slice "Hard" "Hard" "Hard" "Hard" "Hard" "Ok" "Ok" "Ok" "Possible" "Possible" "Possible"}}
{{ with .Site.Params.googleapikey }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{.}}"
  type="text/javascript"></script>
{{ end }}
{{ if .Params.notloaded.need }}
<script>
    var notLoaded = document.getElementsByClassName('not-loaded'),
      slider = notLoaded[0];
  
  // Special loading - Slider
  var imgLarge = new Image();
  imgLarge.src = slider.dataset.large; 
  imgLarge.onload = function () {
    slider.style.backgroundImage = 'url('+slider.dataset.large+')';
    slider.classList.add('loaded');
  };
</script>
{{ end }}
{{ if eq .Params.layout "contact" }}
<script src="/js/main-with-ui.min.js"></script>
{{ else if .Params.mapsjs }}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="/js/main-maps.min.js"></script>
<script>
jQuery(window).load(function() {
    function URLify(string) {
      return string.trim().replace(/\s/g, '-').toLowerCase();
    }
    var scrollTo = function(stateName) {
        jQuery('html,body').animate({scrollTop: $("h2#" + URLify(stateName)).offset().top},'slow');
    }
    var mapElement = document.getElementById('map-tiny-friendly');
    var mapContainer = document.getElementById('map-tiny-container');
    var election = new Datamap({
      scope: 'usa',
      element: mapElement,
      geographyConfig: {
        highlightFillColor: '#5E452B',
        highlightBorderColor: '#E8E3DB',
        popupTemplate: function(geography, data) {
          return '<div class="maps-hoverinfo"><p>' + geography.properties.name + ' Tiny House Friendliness:' +  data.friendliness + '</p></div>'
        },
        highlightBorderWidth: 3
      },
      done: function(datamap) {
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            mapContainer.scrollLeft = mapContainer.offsetWidth;
            var touchmoved;
            var backToTop = jQuery('#back_to_top');
            datamap.svg.selectAll('.datamaps-subunit').on('touchend', function(geography) {
                if(touchmoved != true){
                    scrollTo(geography.properties.name);
                    setTimeout(function() {
                        backToTop.css('bottom', 40);
                        setTimeout(function() {
                            backToTop.css('bottom', 20);
                        }, 400)
                    }, 800)
                }
            }).on('touchmove', function(e){
                touchmoved = true;
            }).on('touchstart', function(){
                touchmoved = false;
            });;
        } else {
          //If its not a mobile device use 'click'
            datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
              scrollTo(geography.properties.name);
            });
        }
      },
      responsive: true,
      fills: {
        'Possible': '#768948',
        'Ok': '#CDC776',
        'Hard': '#262322',
        defaultFill: '#E8E3DB'
      },
      data:{
        {{ range $i, $e := .Site.Data.tinyhousemaps.states }}
        {{ if $i }},{{ end }}"{{ $e.state }}": {
            "fillKey": "{{ index $values $e.friendliness }}",
            "friendliness": {{ $e.friendliness }}
        }
        {{ end }}
      }
    });
    election.labels();
    window.addEventListener('resize', function() {
        election.resize();
    });
});
</script>
{{ else if (or (eq .Type "tiny-house-plans") (isset .Params "iscollection")) }}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="/js/main-plans.min.js"></script>
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YjEzZWVjYTctZDYwOS00MmRhLWIxNzctODQ4MTEyNDBlMTJkNjM2NTcxNjg0NDkwMDkzMDA5"></script>
{{ else }}
<script src="/js/main.min.js"></script>
{{ end }}
<script id="mfn-dnmc-retina-js">
    jQuery(window).load(function() {
        var retina = window.devicePixelRatio > 1 ? true : false;
        if (retina) {
            var retinaEl = jQuery("#logo img.logo-main");
            var retinaLogoW = retinaEl.width();
            var retinaLogoH = retinaEl.height();
            {{ if (or (eq .Type "tiny-house-plans") (isset .Params "iscollection")) }}
            retinaEl.attr("src", "/img/logo-tiny-house.png").width(retinaLogoW).height(retinaLogoH);
            {{ else }}
            retinaEl.attr("src", "/img/logo-white-tiny-house.png").width(retinaLogoW).height(retinaLogoH);
            {{ end }}
            var stickyEl = jQuery("#logo img.logo-sticky");
            var stickyLogoW = stickyEl.width();
            var stickyLogoH = stickyEl.height();
            {{ if (or (eq .Type "tiny-house-plans") (isset .Params "iscollection")) }}
            stickyEl.attr("src", "/img/logo-tiny-house.png").width(stickyLogoW).height(stickyLogoH);
            {{ else }}
            stickyEl.attr("src", "/img/logo-white-tiny-house.png").width(stickyLogoW).height(stickyLogoH);
            {{ end }}
            var mobileEl = jQuery("#logo img.logo-mobile");
            var mobileLogoW = mobileEl.width();
            var mobileLogoH = mobileEl.height();
            {{ if (or (eq .Type "tiny-house-plans") (isset .Params "iscollection")) }}
            mobileEl.attr("src", "/img/logo-tiny-house.png").width(mobileLogoW).height(mobileLogoH);
            {{ else }}
            mobileEl.attr("src", "/img/logo-white-tiny-house.png").width(mobileLogoW).height(mobileLogoH);
            {{ end }}
        }
    });
</script>
