{{ with .Site.Params.googleapikey }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{.}}"
  type="text/javascript"></script>
{{ end }}
{{ if .Params.notloaded.need }}
<script>
    var notLoaded = document.getElementsByClassName('not-loaded'),
      slider = notLoaded[0];
  
  // Special loading - Slider
  var imgLarge = new Image();
  imgLarge.src = slider.dataset.large; 
  imgLarge.onload = function () {
    slider.style.backgroundImage = 'url('+slider.dataset.large+')';
    slider.classList.add('loaded');
  };
</script>
{{ end }}
{{ if eq .Params.layout "contact" }}
<script src="/js/main-with-ui.min.js"></script>
{{ else if (eq .Type "tiny-house-plans") }}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="/js/main-plans.min.js"></script>
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YjEzZWVjYTctZDYwOS00MmRhLWIxNzctODQ4MTEyNDBlMTJkNjM2NTcxNjg0NDkwMDkzMDA5"></script>
{{ else }}
<script src="/js/main.min.js"></script>
{{ end }}
<script id="mfn-dnmc-retina-js">
    jQuery(window).load(function() {
        var retina = window.devicePixelRatio > 1 ? true : false;
        if (retina) {
            var retinaEl = jQuery("#logo img.logo-main");
            var retinaLogoW = retinaEl.width();
            var retinaLogoH = retinaEl.height();
            {{ if (eq .Type "tiny-house-plans") }}
            retinaEl.attr("src", "/img/logo-tiny-house.png").width(retinaLogoW).height(retinaLogoH);
            {{ else }}
            retinaEl.attr("src", "/img/logo-white-tiny-house.png").width(retinaLogoW).height(retinaLogoH);
            {{ end }}
            var stickyEl = jQuery("#logo img.logo-sticky");
            var stickyLogoW = stickyEl.width();
            var stickyLogoH = stickyEl.height();
            {{ if (eq .Type "tiny-house-plans") }}
            stickyEl.attr("src", "/img/logo-tiny-house.png").width(stickyLogoW).height(stickyLogoH);
            {{ else }}
            stickyEl.attr("src", "/img/logo-white-tiny-house.png").width(stickyLogoW).height(stickyLogoH);
            {{ end }}
            var mobileEl = jQuery("#logo img.logo-mobile");
            var mobileLogoW = mobileEl.width();
            var mobileLogoH = mobileEl.height();
            {{ if (eq .Type "tiny-house-plans") }}
            mobileEl.attr("src", "/img/logo-tiny-house.png").width(mobileLogoW).height(mobileLogoH);
            {{ else }}
            mobileEl.attr("src", "/img/logo-white-tiny-house.png").width(mobileLogoW).height(mobileLogoH);
            {{ end }}
        }
    });
</script>
