<footer id="Footer" class="clearfix">
    <div class="widgets_wrapper" style="padding:40px 0 30px;">
        <div class="container">
            <div class="column one-fourth">
                <aside class="widget widget_mfn_recent_comments">
                    <h4>Latest comments</h4>
                    <div class="Recent_comments">
                        <ul>
                            <li>
                                <span class="date_label">November 17, 2014</span>
                                <p>
                                    <i class="icon-user"></i><strong>admin</strong> commented on <a href="content/lifestyle/item3.html#comment-5" title="admin | Aenean ligula molstie viverra fermentum">Aenean ligula molstie viverra fermentum</a> </p>
                            </li>
                            <li>
                                <span class="date_label">November 17, 2014</span>
                                <p>
                                    <i class="icon-user"></i><strong>admin</strong> commented on <a href="content/lifestyle/item3.html#comment-4" title="admin | Aenean ligula molstie viverra fermentum">Aenean ligula molstie viverra fermentum</a> </p>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="column one-fourth">
                <aside class="widget widget_mfn_recent_posts">
                    <h4>Recent posts</h4>
                    <div class="Recent_posts">
                        <ul>
                            <li class="post ">
                                <a href="content/lifestyle/item12.html">
                                    <div class="photo"><img width="80" height="80" src="/images/home_lifestyle_blog_people_1-80x80.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_people_1" /><span class="c">0</span>
                                    </div>
                                    <div class="desc">
                                        <h6>Vestibulum commodo volutpat laoreet</h6><span class="date"><i class="icon-clock"></i>May 8, 2014</span>
                                    </div>
                                </a>
                            </li>
                            <li class="post ">
                                <a href="content/lifestyle/item10.html">
                                    <div class="photo"><img width="80" height="80" src="/images/home_lifestyle_blog_people_2-80x80.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_people_2" /><span class="c">0</span>
                                    </div>
                                    <div class="desc">
                                        <h6>Quisque lorem tortor fringilla sed vesti bulum</h6><span class="date"><i class="icon-clock"></i>May 7, 2014</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="column one-fourth">
                <aside class="widget widget_text">
                    <h4>Bibendum auctor</h4>
                    <div class="textwidget">
                        <p style="margin-right: 5%;">
                            Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor elit lectus felis.
                        </p>
                        <ul style="line-height: 30px;">
                            <li>
                                <i class="icon-right-circled" style="color: #fff;"></i><a href="#">Mauris in erat justo venenatis </a>
                            </li>
                            <li>
                                <i class="icon-right-circled" style="color: #fff;"></i><a href="#">Interdum nulla lectus vel</a>
                            </li>
                            <li>
                                <i class="icon-right-circled" style="color: #fff;"></i><a href="#">Ut enim ad minim veniam</a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="column one-fourth">
                <aside class="widget widget_tag_cloud">
                    <h4>Tags</h4>
                    <div class="tagcloud">
                        <a href='content/lifestyle/tag-page.html' class='tag-link-7' title='3 topics' style='font-size: 15pt;'>Design</a> <a href='content/lifestyle/tag-page.html' class='tag-link-3' title='4 topics' style='font-size: 17.333333333333pt;'>Framework</a> <a href='content/lifestyle/tag-page.html' class='tag-link-10' title='1 topic' style='font-size: 8pt;'>Grid</a> <a href='content/lifestyle/tag-page.html' class='tag-link-8' title='4 topics' style='font-size: 17.333333333333pt;'>Motion</a> <a href='content/lifestyle/tag-page.html' class='tag-link-5' title='5 topics' style='font-size: 19.2pt;'>Themeforest</a> <a href='content/lifestyle/tag-page.html' class='tag-link-9' title='5 topics' style='font-size: 19.2pt;'>Video</a> <a href='content/lifestyle/tag-page.html' class='tag-link-6' title='7 topics' style='font-size: 22pt;'>Wordpress</a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer_copy">
        <div class="container">
            <div class="column one">
                <a id="back_to_top" class="button button_left button_js" href="#"><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
                <div class="copyright">
                    &copy; 2017 BeLifestyle - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="http://bit.ly/1M6lijQ">BeantownThemes</a>
                </div>
                <ul class="social"></ul>
            </div>
        </div>
    </div>
</footer>
