<div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.3">
    <header id="Header">
        <div class="header_placeholder"></div>
        <div id="Top_bar">
            <div class="container">
                <div class="column one">
                    <div class="top_bar_left clearfix">
                        <div class="logo">
                            <a id="logo" href="index-lifestyle.html" title="BeLifestyle - BeTheme"><img class="logo-main   scale-with-grid" src="/images/lifestyle.png" alt="BeLifestyle - BeTheme" /><img class="logo-sticky scale-with-grid" src="/images/lifestyle.png" alt="BeLifestyle - BeTheme" /><img class="logo-mobile scale-with-grid" src="/images/lifestyle.png" alt="BeLifestyle - BeTheme" />
                            </a>
                        </div>
                        <div class="menu_wrapper">
                            <nav id="menu" class="menu-main-menu-container">
                                <ul id="menu-main-menu" class="menu">
                                    <li class="current_page_item">
                                        <a href="index-lifestyle.html"><span>Home</span></a>
                                    </li>
                                    <li>
                                        <a href="content/lifestyle/category-page.html"><span>Hot articles</span></a>
                                    </li>
                                    <li>
                                        <a href="content/lifestyle/category-page.html"><span>People</span></a>
                                    </li>
                                    <li>
                                        <a href="content/lifestyle/category-page.html"><span>Places</span></a>
                                    </li>
                                    <li>
                                        <a href="content/lifestyle/category-page.html"><span>Stories</span></a>
                                    </li>
                                    <li>
                                        <a href="content/lifestyle/about-us.html"><span>About us</span></a>
                                    </li>
                                    <li>
                                        <a href="content/lifestyle/contact.html"><span>Contact</span></a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="http://bit.ly/1M6lijQ"><span><span style="padding: 0; color: #f3c070;">Buy now</span></span></a>
                                    </li>
                                </ul>
                            </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
                        </div>
                        <div class="secondary_menu_wrapper"></div>
                        <div class="banner_wrapper"></div>
                        <div class="search_wrapper">
                            <form method="get" id="searchform" action="#">
                                <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                                <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                                <input type="submit" class="submit" value="" style="display:none;" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>




<!-- 
                                        <ul>
                                            {{ range $i, $e := sort (where $.Site.Pages "Type" "services") ".Params.ordre" "asce" }}
                                                {{ if $e.Params.resume.titre }}
                                                <li>
                                                    <a href="{{ .Permalink }}">{{ $e.Params.resume.titre }}</a>
                                                </li>
                                                {{ end }}
                                            {{ end }}
                                        </ul>
                                    </li>
                                <ul>
                        {{with .Site.Data.settings.socials.facebookurl}}
                        <li class="social-facebook"><a href="{{.}}"><i class="fa fa-facebook"></i></a></li>
                        {{ end }}
                        {{with .Site.Data.settings.socials.twitterurl}}
                        <li class="social-twitter"><a href="{{.}}"><i class="fa fa-twitter"></i></a></li>
                        {{ end }}
                        {{with .Site.Data.settings.socials.googleplusurl}}
                        <li class="social-google"><a href="{{.}}"><i class="fa fa-google-plus"></i></a></li>
                        {{ end }}
                        {{with .Site.Data.settings.socials.pinteresturl}}
                        <li class="social-pinterest"><a href="{{.}}"><i class="fa fa-pinterest"></i></a></li>
                        {{ end }}
                        {{with .Site.Data.settings.socials.vimeourl}}
                        <li class="social-vimeo"><a href="{{.}}"><i class="fa fa-vimeo-square"></i></a></li>
                        {{ end }}
                        {{with .Site.Data.settings.socials.linkedinurl}}
                        <li class="social-linkedin"><a href="{{.}}"><i class="fa fa-linkedin"></i></a></li>
                        {{ end }}
                        {{with .Site.Data.settings.socials.dribbleurl}}
                        <li class="social-dribbble"><a href="{{.}}"><i class="fa fa-dribbble"></i></a></li>
                        {{ end }}
                        {{with .Site.Data.settings.socials.youtubeurl}}
                        <li class="social-youtube"><a href="{{.}}"><i class="fa fa-youtube-play"></i></a></li>
                        {{ end }}
                        {{with .Site.Data.settings.socials.rssurl}}
                        <li class="social-rss"><a href="{{.}}"><i class="fa fa-rss"></i></a></li>
                        {{ end }}
                    </ul> -->
