{{ define "main" }}
{{- $mymonths := $.Site.Data.mois.mois -}}
{{- $mydays := $.Site.Data.jour.jour -}}
{{- $plans := (where .Data.Pages ".Params.tosale" true) -}}
<div class="content_wrapper clearfix" id="plan-list">
    <div class="sections_group">
        <div class="entry-content">
            <div class="section mcb-section" id="plan-intro">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one column-margin-0px valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one">
                                <h1>{{ .Params.titre }}</h1>
                                <p class="nb">We have <span class="plan-nb">{{ len $plans }}</span> Tiny House Plans that will interest you!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mcb-section full-width no-margin-h no-margin-v" id="plan-masonry">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner isotope-wrapper">
                            {{ range $i, $e := (first 8 $plans) }}
                            <div class="column mcb-column one-second column_placeholder plan-item{{ if .Params.listing.foundation }} on-foundation{{ else }} on-wheels{{ end }}">
                                <div class="column_attr">
                                    {{- partial "site/plans-post.html" . $ -}}
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ with .Params.section2 }}
            <div class="section mcb-section" style="padding-top:40px; padding-bottom:30px; background-color:white">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one column-margin-0px valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_hover_color ">
                                <div class="hover_color_bg" style="background:white;">
                                    <div class="hover_color_wrapper" style="padding:30px 20px;">
                                        <h4 style="margin: 0; text-align: center;">{{ .title }}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one">
                                <div class="column_filters">
                                    <div class="mcb-wrap-inner">
                                        {{ range .icons }}
                                        <div class="column mcb-column one-third column_column why-us">
                                            <div class="column_attr">
                                                <span class="{{- .icon -}}"></span>
                                                <h5>{{- .title -}}</h5>
                                                <p class="description">{{ .description }}</p>
                                            </div>
                                        </div>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ with .Params.section3 }}
            <div class="section mcb-section" style="padding-top:0px; padding-bottom:30px; background-color:white">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one column-margin-0px valign-top clearfix" style="border: 1px solid #EBEBEB; text-align: center;">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_hover_color ">
                                <div class="hover_color_wrapper plan-list-support" style="padding:30px 20px;">
                                    <h5 style="margin: 0 0 30px;">{{ .title }}</h5>
                                    <div class="middle-text">
                                        {{ .description | markdownify }}
                                    </div>
                                    <span>{{ .ctaline | markdownify }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>  
{{ end }}