<!DOCTYPE html>
<html lang="{{$.Lang}}">
	{{- $.Scratch.Set "homePage" $.Site.BaseURL -}}
	{{- $.Scratch.Set "articlesPage" ("articles" | absLangURL) -}}
	{{- $.Scratch.Set "servicesPage" ("services" | absLangURL) -}}
	{{- $.Scratch.Set "faqPage" ("faq" | absLangURL) -}}
	{{- $.Scratch.Set "plansPage" ("tiny-house-plans" | absLangURL) -}}
	{{- $.Scratch.Set "buildersPage" ("builders" | absLangURL) -}}
	{{- $.Scratch.Set "includedPage" ("tiny-house-plans/whats-included" | absLangURL) -}}
	{{- $.Scratch.Set "termsPage" ("tiny-house-plans/terms-and-conditions" | absLangURL) -}}
	{{- $.Scratch.Set "privacyPage" ("tiny-house-plans/privacy-policy" | absLangURL) -}}
	{{- if eq .Lang "fr" -}}
	{{- $.Scratch.Set "contactPage" ("contact" | absLangURL) -}}
	{{- $.Scratch.Set "aboutPage" ("a-propos" | absLangURL) -}}
	{{- else if eq .Lang "en" -}}
	{{- $.Scratch.Set "contactPage" ("contact-us" | absLangURL) -}}
	{{- $.Scratch.Set "writePage" ("write-for-us" | absLangURL) -}}
	{{- $.Scratch.Set "aboutPage" ("about-us" | absLangURL) -}}
	{{- end -}}
	{{ partial "site-head.html" . }}
	<body class="{{ if .IsHome }}template-slider {{ end }}{{ if (eq .Type "articles") }}single single-post single-format-standard {{ else if (eq .Kind "taxonomy") }}single single-post single-format-standard {{ end }}{{ if (or (eq .Type "tiny-house-plans") (isset .Params "iscollection")) }}plan-page {{ end }}{{ if (eq .Type "builders") }}builders-page {{ end }}color-custom style-simple button-stroke layout-full-width if-border-hide no-content-padding header-center single-template-builder header-overlay header-transparent minimalist-header-no ab-hide subheader-both-center menu-link-color menuo-no-borders menuo-right mobile-tb-center mobile-mini-mr-ll be-reg-2062 {{ if .Params.mapsjs }}maps-body {{ end }}">
		{{ `<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->` | safeHTML }}
		{{ partial "header/google-tag-manager.html" . }}
		<div id="Wrapper">
		  	{{ partial "site-header.html" . }}
			<div id="Content">
				{{block "main" . }}
				{{end}}
			</div>
			{{ partial "site-footer.html" . }}
		</div>
		<!-- eof #Wrapper -->
		{{ partial "site/modals.html" . }}
		{{ partial "footer/site-scripts.html" . }}
	</body>
</html>