{{ define "main" }}
<div class="content_wrapper clearfix">
    <div class="sections_group">
        <div class="entry-content">
            <div class="section mcb-section dark   has-navi" style="padding-top:270px; padding-bottom:230px; background-color:#b0b3b5; background-image:url(/images/home_lifestyle_blog_sectionbg1.jpg); background-repeat:no-repeat; background-position:center top; background-attachment:fixed; background-size:cover; -webkit-background-size:cover" data-enllax-ratio="-0.3">
                <div class="section-nav prev">
                    <i class="icon-up-open-big"></i>
                </div>
                <div class="section-nav next">
                    <i class="icon-down-open-big"></i>
                </div>
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one  valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one-fourth column_placeholder">
                                <div class="placeholder">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="column mcb-column one-second column_image ">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_slogan.png" alt="" width="505" height="162" /> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mcb-section full-width no-margin-h no-margin-v  " style="padding-top:0px; padding-bottom:0px; background-color:#444444">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one  valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_blog ">
                                <div class="column_filters">
                                    <div class="blog_wrapper isotope_wrapper clearfix">
                                        <div class="posts_group lm_wrapper col-4 masonry tiles isotope">
                                            <div class="post-item isotope-item clearfix  post  format-standard has-post-thumbnail  category-hot-articles   ">
                                                <div class="date_label">
                                                    March 12, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_hot_1.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_hot_1" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">March 12, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item3.html#comments" class="post-comments">4</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">Hot articles</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item3.html">Aenean ligula molstie viverra fermentum</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Lorem ipsum dolor sit amet dolor. Suspendisse sollicitudin. Fusce non ante euismod quis, placerat quam. Sed interdum arcu quis orci. Nunc vitae metus. Maecenas feugiat lectus elit, ut justo vulputate vitae, commodo magna gravida.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item isotope-item clearfix  post  format-standard has-post-thumbnail  category-hot-articles  ">
                                                <div class="date_label">
                                                    March 11, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_hot_2.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_hot_2" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">March 11, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item14.html#respond" class="post-comments">0</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">Hot articles</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item14.html">Vitae adipiscing turpis aenean rutrum leo aliquet</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Aenean ligula dui, non eros porttitor a, pharetra accumsan rutrum, wisi accumsan ullamcorper aliquam. In fermentum. Morbi sem et purus in tortor et ligula. Nam vestibulum in, vulputate sed, elementum congue, aliquet vulputate.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item isotope-item clearfix post-2273 post  format-standard has-post-thumbnail  category-hot-articles tag-design tag-motion tag-video">
                                                <div class="date_label">
                                                    March 10, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_hot_3.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_hot_3" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">March 10, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item11.html#respond" class="post-comments">0</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">Hot articles</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item11.html">Suspen disse pellen tesque dui proin cursus magna</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Enim ac turpis egestas. Suspendisse elit lectus dapibus eu, vulputate at, consequat id, ultrices posuere ante ipsum aliquet eget, rutrum magna iaculis arcu massa, feugiat fermentum in, dapibus et, tristique libero in massa.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item isotope-item clearfix post-2275 post  format-standard has-post-thumbnail  category-hot-articles  tag-grid ">
                                                <div class="date_label">
                                                    March 9, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_hot_4.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_hot_4" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">March 9, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item8.html#respond" class="post-comments">0</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">Hot articles</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item8.html">Proin dui sodales imperdiet sit  sapien fames ac luctus</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Nunc justo nibh, sollicitudin quis, egestas risus eu euismod nec, molestie tincidunt. Fusce wisi diam, tincidunt lorem. Aliquam id lorem. Vestibulum tempus. Morbi id dolor urna dapibus aliquam. Etiam varius quis, tellus.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mcb-section equal-height  " style="padding-top:30px; padding-bottom:0px; background-color:#dcdfe1">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one  column-margin-30px valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column two-third column_column">
                                <div class="column_attr align_center" style=" background-color:#f0f1f2; background-image:url(/images/home_lifestyle_quote.jpg); background-repeat:no-repeat; background-position:center bottom; padding:70px 7% 55px;">
                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_blockquote.png" alt="" width="21" height="20" /> </div>
                                    </div>
                                    <hr class="no_line" style="margin: 0 auto 30px;" />
                                    <h5 class="themecolor">Quote of the week</h5>
                                    <h2 style="color: #fff;">Phasellus fringilla nisl in sem scelerisque, a vestibulum mi elementum. Aenean. Nam vestibulum elit vel felis porta posuere. Nullam luctus rhoncus ligula a scelerisque. Vestibulum suscipit pulvinar.</h2>
                                    <h5 style="color: #fff; font-style: italic">- Marcus Ettemus</h5>
                                </div>
                            </div>
                            <div class="column mcb-column one-third column_column">
                                <div class="column_attr align_center" style=" background-color:#f0f1f2; padding:40px 7% 25px;">
                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_lifestyle_featured_author.png" alt="" width="143" height="143" /> </div>
                                    </div>
                                    <hr class="no_line" style="margin: 0 auto 20px;" />
                                    <h5 class="themecolor" style="margin-bottom: 7px;">Featured Author</h5>
                                    <h2><a href="#">Mark Spencer</a></h2>
                                    <p class="big">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit do eiusmod
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mcb-section" style="padding-top:0px; padding-bottom:30px; background-color:#dcdfe1">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one  column-margin-0px valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_hover_color ">
                                <div class="hover_color" style="background:#fff" ontouchstart="this.classList.toggle('hover');">
                                    <div class="hover_color_bg" style="background:#f0f1f2;">
                                        <a href="/category-page.html">
                                            <div class="hover_color_wrapper" style="padding:30px 20px;">
                                                <h4 style="margin: 0;">People and their life</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one column_blog ">
                                <div class="column_filters">
                                    <div class="blog_wrapper isotope_wrapper clearfix">
                                        <div class="posts_group lm_wrapper col-3 masonry tiles isotope">
                                            <div class="post-item isotope-item clearfix post-2277 post  format-standard has-post-thumbnail  category-people tag-video ">
                                                <div class="date_label">
                                                    May 8, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_people_1.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_people_1" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">May 8, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item12.html#respond" class="post-comments">0</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">People</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item12.html">Vestibulum commodo volutpat laoreet</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Quisque justo augue ut urna eu eros. Sed id elit tincidunt et, fermentum vel, wisi. In vitae erat eget arcu nunc venenatis placerat, molestie tristique commodo. Cras turpis vitae ante. Praesent magna ac nunc. Vivamus volutpat.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item isotope-item clearfix post-2279 post  format-standard has-post-thumbnail  category-people tag-motion tag-video">
                                                <div class="date_label">
                                                    May 7, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_people_2.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_people_2" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">May 7, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item10.html#respond" class="post-comments">0</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">People</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item10.html">Quisque lorem tortor fringilla sed vesti bulum</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per conubia nostra, per inceptos hymenaeos. Maecenas id tortor. Etiam aliquam convallis. Donec enim vel nulla. Sed eros. Nullam justo dolor, varius nec.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item isotope-item clearfix post-2281 post  format-standard has-post-thumbnail  category-people ">
                                                <div class="date_label">
                                                    May 6, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_people_3.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_people_3" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">May 6, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item15.html#respond" class="post-comments">0</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">People</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item15.html">Vivamus sit amet metus sem imperdiet</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Bibendum tellus, fringilla ut, eleifend pede id nulla ac ligula at neque. Vestibulum ante sodales neque ut quam placerat id, orci. Integer aliquam. Etiam tempor varius, quam elit justo ac accumsan id, eleifend lectus non.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mcb-section" style="padding-top:0px; padding-bottom:30px; background-color:#dcdfe1">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one-second  column-margin-0px valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_hover_color ">
                                <div class="hover_color" style="background:#fff" ontouchstart="this.classList.toggle('hover');">
                                    <div class="hover_color_bg" style="background:#f0f1f2;">
                                        <a href="/category-page.html">
                                            <div class="hover_color_wrapper" style="padding:30px 20px;">
                                                <h4 style="margin: 0;">Places worth visiting</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one column_blog ">
                                <div class="column_filters">
                                    <div class="blog_wrapper isotope_wrapper clearfix">
                                        <div class="posts_group lm_wrapper col-2 masonry tiles isotope">
                                            <div class="post-item isotope-item clearfix post-2293 post  format-standard has-post-thumbnail  category-places tag-video">
                                                <div class="date_label">
                                                    April 30, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_places_1.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_places_1" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">April 30, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item6.html#respond" class="post-comments">0</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">Places</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item6.html">Fusce lorem ligula</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Morbi tellus nec velit. Aliquam sed dui. Suspendisse adipiscing. Nulla cursus mauris non purus. Class aptent taciti sociosqu ad litora torquent per inceptos hymenaeos. Quisque pharetra, urna mattis id, adipiscing at, mauris.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item isotope-item clearfix post-2295 post  format-standard has-post-thumbnail  category-places tag-motion tag-video">
                                                <div class="date_label">
                                                    April 29, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_places_2.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_places_2" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">April 29, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item9.html#respond" class="post-comments">0</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">Places</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item9.html">Proin sed hendrerit nonummy</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Praesent euismod pulvinar, quam ut vehicula convallis ligula tortor venenatis augue id dolor sit amet sapien a ligula. Nam eu venenatis quis, odio. Suspendisse at est ullamcorper wisi vulputate luctus. Phasellus tellus pede.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-second  column-margin-0px valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_hover_color ">
                                <div class="hover_color" style="background:#fff" ontouchstart="this.classList.toggle('hover');">
                                    <div class="hover_color_bg" style="background:#f0f1f2;">
                                        <a href="/category-page.html">
                                            <div class="hover_color_wrapper" style="padding:30px 20px;">
                                                <h4 style="margin: 0;">True stories</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one column_blog ">
                                <div class="column_filters">
                                    <div class="blog_wrapper isotope_wrapper clearfix">
                                        <div class="posts_group lm_wrapper col-2 masonry tiles isotope">
                                            <div class="post-item isotope-item clearfix post-2289 post  format-standard has-post-thumbnail  category-stories tag-design ">
                                                <div class="date_label">
                                                    May 4, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_stories_1.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_stories_1" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">May 4, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item2.html#respond" class="post-comments">0</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">Stories</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item2.html">Donec tempus urna risus</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Maecenas arcu elit, dictum quis, tincidunt vel, consequat ipsum et wisi. Morbi orci. Vestibulum ante ipsum dolor ut lacus. Ut laoreet metus tellus, quis lacus nibh, imperdiet wisi, vitae imperdiet dignissim.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item isotope-item clearfix post-2285 post  format-standard has-post-thumbnail  category-stories " style="background-color:#008ce4;">
                                                <div class="date_label">
                                                    May 4, 2014
                                                </div>
                                                <div class="post-photo-wrapper scale-with-grid"><img width="767" height="850" src="/images/home_lifestyle_blog_stories_2.jpg" class="scale-with-grid wp-post-image" alt="home_lifestyle_blog_stories_2" itemprop="image" />
                                                </div>
                                                <div class="post-desc-wrapper">
                                                    <div class="post-desc">
                                                        <div class="post-head">
                                                            <div class="post-meta clearfix">
                                                                <div class="author-date">
                                                                    <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">Muffin Group</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">May 4, 2014</span></span>
                                                                    <div class="post-links">
                                                                        <i class="icon-comment-empty-fa"></i><a href="/item13.html#respond" class="post-comments">0</a>
                                                                    </div>
                                                                </div>
                                                                <div class="category">
                                                                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                                                                    <div class="cat-wrapper">
                                                                        <ul class="post-categories">
                                                                            <li>
                                                                                <a href="/category-page.html" rel="category tag">Stories</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-title">
                                                            <h2 class="entry-title" itemprop="headline"><a href="/item13.html">Videamus animi partes quarum</a></h2>
                                                        </div>
                                                        <div class="post-excerpt">
                                                            Sapien leo ultrices posuere cubilia Curae, Nulla massa. Donec gravida vitae, consequat wisi. Sed pharetra. Morbi tellus tincidunt justo. Sed placerat dui. Integer sodales pede. Sed malesuada fames ac turpis nec.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mcb-section" style="padding-top:40px; padding-bottom:0px; ">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one  valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one-third column_column">
                                <div class="column_attr">
                                    <h2>About us</h2>
                                    <hr class="no_line" style="margin: 0 auto 30px;" />
                                    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</h6>
                                    <p>
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidat.
                                    </p>
                                </div>
                            </div>
                            <div class="column mcb-column one-third column_column">
                                <div class="column_attr">
                                    <h2>Authors</h2>
                                    <hr class="no_line" style="margin: 0 auto 30px;" />
                                    <div style="background: url(/images/home_lifestyle_author.png) no-repeat left top; padding: 0 0 0 40px;">
                                        <h5 style="font-weight: 700; margin: 0 0 6px 0">Bryan D. Preston</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consecte tur adipisicing elit
                                        </p>
                                    </div>
                                    <div style="background: url(/images/home_lifestyle_author.png) no-repeat left top; padding: 0 0 0 40px;">
                                        <h5 style="font-weight: 700; margin: 0 0 6px 0">Tatiana R. Kovalsky</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consecte tur adipisicing elit
                                        </p>
                                    </div>
                                    <div style="background: url(/images/home_lifestyle_author.png) no-repeat left top; padding: 0 0 0 40px;">
                                        <h5 style="font-weight: 700; margin: 0 0 6px 0">Albert W. Steavenson</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consecte tur adipisicing elit
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one-third column_column">
                                <div class="column_attr">
                                    <h2>Become an author</h2>
                                    <hr class="no_line" style="margin: 0 auto 30px;" />
                                    <h6>Morbi eget dictum lectus, eget porttitor erat. Vestibulum dictum lacus id turpis egestas mattis. Vestibulum ac leo ultrices, porta libero malesuada, mollis sed.</h6>
                                    <p>
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
                                    </p>
                                    <a class="button  button_theme button_js" href="/contact.html"><span class="button_label">Read more</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section the_content no_content">
                <div class="section_wrapper">
                    <div class="the_content_wrapper"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}