{{ define "main" }}
{{ $mymonths := $.Site.Data.mois.mois }}
{{ $mydays := $.Site.Data.jour.jour }}
<div id="plan">
    <div id="Intro">
        <div class="container section">
            <div class="column one mcb-wrap-inner">
                <div class="title-container column">
                    <div class="title-box">
                        <div class="title-holder">
                            <div class="profile">
                                <img src="/thumb/img/hesham-profile.jpg" alt="Hesham Younis">
                                <div class="architect-info">
                                    <p class="architect-name">By Hesham Younis</span>
                                    <p class="architect-description">Modern Tiny House Architect</span>
                                </div>
                            </div>
                            <div class="categories">
                                <span>
                                    {{ range $i, $e := .Params.collections }}{{ if $i }},{{ end }}
                                    <a href="{{ $.Site.BaseURL }}collections/{{ $e | urlize }}">{{ $e }}</a>
                                    {{end}}
                                </span>
                            </div>
                            <div class="reviews">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <span>23</span>
                            </div>
                            <h1>California Style Tiny Cabin For Two</h1>
                        </div>
                    </div>
                </div>
                <div class="slider-container column">
                    <div style="width: 100% !important;">
                        <div class="section mcb-section" style="max-width: 100%;">
                            <div class="mcb-section-inner">
                                <div class="wrap mcb-wrap one valign-top clearfix" >
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column column_column content slider-left-column" id="content">
                                            <div class="column_attr">
                                                <div class="plans-slider-container">
                                                    <div class="plans-slider-images">
                                                        {{ range .Params.slider }}
                                                        <div class="plans-slider-image" style="background-image: url('{{ .image }}');">
                                                        </div>
                                                        {{ end }}
                                                    </div>
                                                    <ul class="plans-slider-arrows">
                                                        <li class="image-navigation__prev">
                                                          <span class="icon-left-open"></span>
                                                        </li>
                                                        <li class="image-navigation__next">
                                                          <span class="icon-right-open"></span>
                                                        </li>
                                                      </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column column_placeholder slider-right-column">
                                            <div class="column_attr">
                                                <ul class="plans-slider-navigation">
                                                    {{ range .Params.slider }}
                                                    <li class="plans-slider-item">
                                                        <img src="/quart{{ .image }}" alt="" style="width: 100%;">
                                                    </li>
                                                    {{ end }}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="love-cta slider-cta">
                        <a href='#Description' class="button button_theme button_js action_button neutral_theme" target="_blank"><span class="button_label"><i class="moon-heart_empty"></i></span></a>
                    </div>
                    <div class="slider-cta details-cta">
                        <a href='#Description' class="button button_theme button_js action_button neutral_theme" target="_blank"><span class="button_label">MORE DETAILS</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix" id="Description">
            <div class="sections_group">
                <div class="post format-standard has-post-thumbnail category-hot-articles">
                    <div class="post-wrapper-content">
                        <div class="section mcb-section" style="padding-top:50px;padding-bottom:0px; margin-bottom: 30px ">
                            <div class="section_wrapper mcb-section-inner plan-main-section">
                                <div class="wrap mcb-wrap one  valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                    	<div class="column mcb-column two-third column_column content no-margin-bottom" id="plan-description">
                                            <div class="column_attr">
                                            	{{- partial "site/plan-description.html" . -}}
                                            </div>
                                        </div>
                                    	<div id="sidebar-plan" class="column mcb-column one-third column_placeholder sidebar plan-options">
                                            <div class="sidebar__inner">
												{{- partial "site/plan-options.html" . -}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section" style="background-color: #f2f2f2">
                            <div class="section_wrapper mcb-section-inner">
                            	<div class="wrap mcb-wrap one  valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                    	<div class="column mcb-column one column_column content no-margin-bottom text-center" id="plan-support">
                                    		<p>Need help? Let our friendly experts help you find the perfect plan!</p>
											<p><strong>Contact us now for a free consultation.</strong></p>
											<p>Call: 1-800-913-2350</p>
											<p>Email: <a href="mailto:sales@tinysociety.co">sales@tinysociety.co</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}