{{ define "main" }}
{{ $mymonths := $.Site.Data.mois.mois }}
{{ $mydays := $.Site.Data.jour.jour }}
<div id="give-overlay">
    {{- partial "site/give-what-you-want.html" . -}}
    <a href="#" class="close-overlay">
        <i class="close icon-cancel-fine"></i>
    </a>
</div>
<div id="plan">
    <div id="Intro">
        <div class="container section">
            {{- partial "site/plan-intro.html" . -}}
        </div>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix" id="Description">
            <div class="sections_group">
                <div class="post format-standard has-post-thumbnail category-hot-articles">
                    <div class="post-wrapper-content">
                        <div class="section mcb-section" style="padding-top:50px;padding-bottom:0px; margin-bottom: 30px ">
                            <div class="section_wrapper mcb-section-inner plan-main-section">
                                <div class="wrap mcb-wrap one  valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                    	<div class="column mcb-column two-third column_column content no-margin-bottom" id="plan-description">
                                            <div class="column_attr">
                                            	{{- partial "site/plan-description.html" . -}}
                                            </div>
                                        </div>
                                    	<div id="sidebar-plan" class="column mcb-column one-third column_placeholder sidebar plan-options">
                                            <div class="sidebar__inner">
												{{- partial "site/plan-options.html" . -}}
                                                {{- partial "site/customize-this-plan-cta.html" . -}}
                                                <!-- {{- partial "site/cost-to-build-cta.html" . -}} -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section" style="background-color: #f2f2f2">
                            <div class="section_wrapper mcb-section-inner">
                            	<div class="wrap mcb-wrap one  valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                    	<div class="column mcb-column one column_column content no-margin-bottom text-center" id="plan-support">
                                    		<p>Need help? Let our friendly experts help you find the perfect plan!</p>
											<p><strong>Contact us now for a free consultation.</strong></p>
											<p>Call: 1-800-913-2350</p>
											<p>Email: <a href="mailto:sales@tinysociety.co">sales@tinysociety.co</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}